@import "../global";

.menu__link{
  margin-top: 50px;
  display: block;
  margin-bottom: 50px;
}
.menu__link__a{
  text-decoration: none;
  color: #BB2339;
  padding-left: 20px;
  font-size: 22px;
}
.menu__link__a__home{
  color: black;
  text-decoration: none;
  font-size: 22px;
}
.us{
  font-size: 64px;
}
#contact_us{
  height: 610px;
}
.box{
  width: 420px;
  height: 120px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(133, 132, 132);
}
.elips{
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  
  border-radius: 50%;
  background-color: rgba(36, 36, 36, 0.05);
}
.eaturkish{
  height: 670px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.text__a{
  text-decoration: none;
  color: black;

}
.text{
  padding-top: 20px;
  width: 320px;
  height: 110px;
  position: relative;
  left: 50px;
}
.email{
  width: 790px;
  height: 670px;
  position: relative;
  left: 70px;
  border: 1px solid rgb(113, 112, 112);
  border-radius: 20px;
}
.email__name{
  margin-top: 30px;
  margin-left: 15px;
  width: 300px;
  height: 50px;
  padding: 15px;
  border-radius: 20px;
}
.email__message{
  border-radius: 15px;
  margin: 20px;
}
.send__message{
  width: 214px;
  height: 61px;
  margin-left: 15px;
  border-radius: 20px;
}
.send__messag{
  color: white;
  text-decoration: none;
}
.email__messag{
  padding-top: 30px;
}
.find{
  height: 1203px;
  margin-top: 250px;
}
.find h2{
  margin-top: 100px;
  margin-bottom: 100px;
}
@media screen and (max-width:576px){
  iframe{
    width: 50%;
    margin-top: 700px;
  }
}